In [1]:
import pandas as pd

In [2]:
import os

In [3]:
csvs = os.listdir('weather_data')

In [4]:
csvs

['Amritsar.csv',
 'Barnala.csv',
 'Bathinda.csv',
 'Faridkot.csv',
 'FatehgarhSahib.csv',
 'Fazilka.csv',
 'Firozpur.csv',
 'Gurdaspur.csv',
 'Hoshiarpur.csv',
 'Jalandhar.csv',
 'Kapurthala.csv',
 'Ludhiana.csv',
 'Mansa.csv',
 'Moga.csv',
 'Muktsar.csv',
 'Pathankot.csv',
 'Patiala.csv',
 'Rupnagar.csv',
 'SahibzadaAjitSinghNagar.csv',
 'Sangrur.csv',
 'SBSNagar.csv',
 'Tarn Taran.csv']

In [77]:
x = 'Amritsar.csv'

In [6]:
x.split(".")[0]

'Amritsar'

In [79]:
csvs = os.listdir('weather_data')
csvdata = dict()

for csv in csvs:
    csvdata[csv.split(".csv")[0]] = pd.read_csv('weather_data/'+csv)

In [81]:
csvdata['Bathinda']

,YEAR,DOY,T2M,TS,T2M_RANGE,T2M_MAX,T2M_MIN,QV2M,RH2M,PRECTOTCORR,WS2M,WS2M_MAX,WS2M_MIN,WS2M_RANGE
0,1983,1,11.83,11.90,15.03,20.90,5.87,5.19,63.44,0.0,1.64,2.95,0.88,2.07
1,1983,2,10.04,9.37,16.37,19.26,2.89,3.66,51.81,0.0,2.13,4.01,1.02,2.99
2,1983,3,12.38,9.56,13.23,19.40,6.16,3.54,40.62,0.0,0.83,1.70,0.25,1.45
3,1983,4,12.98,10.98,15.22,21.08,5.87,3.54,40.06,0.0,1.13,1.67,0.52,1.16
4,1983,5,12.69,11.81,14.87,21.18,6.31,3.60,40.81,0.0,1.25,2.01,0.59,1.41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15095,2024,121,27.76,30.50,18.25,37.08,18.83,7.02,36.12,0.0,2.93,7.61,1.15,6.46
15096,2024,122,25.10,26.85,16.30,33.08,16.78,5.68,32.38,0.0,3.34,5.80,1.20,4.61
15097,2024,123,28.30,29.94,19.78,38.00,18.22,4.76,21.88,0.0,2.21,4.18,1.08,3.10
15098,2024,124,30.31,30.46,16.23,38.19,21.98,4.39,17.50,0.0,2.04,3.89,0.74,3.15
15099,2024,125,-999.00,-999.00,-999.00,-999.00,-999.00,-999.00,-999.00,-999.0,-999.00,-999.00,-999.00,-999.00

In [9]:
csvdata['Bathinda'].columns

Index(['YEAR', 'DOY', 'T2M', 'TS', 'T2M_RANGE', 'T2M_MAX', 'T2M_MIN', 'QV2M',
       'RH2M', 'PRECTOTCORR', 'WS2M', 'WS2M_MAX', 'WS2M_MIN', 'WS2M_RANGE'],
      dtype='object')

In [10]:
columns = ['YEAR', 'DOY', 'T2M', 'TS', 'T2M_MAX', 'T2M_MIN', 'QV2M', 'RH2M', 'PRECTOTCORR', 'WS2M_MAX', 'WS2M_MIN']

In [83]:
try:
    for key, value in csvdata.items():
        if value[columns].shape[0] < 15100:
            pass
        print(key)
except Exception as e:
    print(e)

Amritsar
Barnala
Bathinda
Faridkot
FatehgarhSahib
Fazilka
Firozpur
Gurdaspur
Hoshiarpur
Jalandhar
Kapurthala
Ludhiana
Mansa
Moga
Muktsar
Pathankot
Patiala
Rupnagar
SahibzadaAjitSinghNagar
Sangrur
SBSNagar
Tarn Taran

In [12]:
from datetime import datetime

In [13]:
csvdata['Bathinda']

,YEAR,DOY,T2M,TS,T2M_RANGE,T2M_MAX,T2M_MIN,QV2M,RH2M,PRECTOTCORR,WS2M,WS2M_MAX,WS2M_MIN,WS2M_RANGE
0,1983,1,11.83,11.90,15.03,20.90,5.87,5.19,63.44,0.0,1.64,2.95,0.88,2.07
1,1983,2,10.04,9.37,16.37,19.26,2.89,3.66,51.81,0.0,2.13,4.01,1.02,2.99
2,1983,3,12.38,9.56,13.23,19.40,6.16,3.54,40.62,0.0,0.83,1.70,0.25,1.45
3,1983,4,12.98,10.98,15.22,21.08,5.87,3.54,40.06,0.0,1.13,1.67,0.52,1.16
4,1983,5,12.69,11.81,14.87,21.18,6.31,3.60,40.81,0.0,1.25,2.01,0.59,1.41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15095,2024,121,27.76,30.50,18.25,37.08,18.83,7.02,36.12,0.0,2.93,7.61,1.15,6.46
15096,2024,122,25.10,26.85,16.30,33.08,16.78,5.68,32.38,0.0,3.34,5.80,1.20,4.61
15097,2024,123,28.30,29.94,19.78,38.00,18.22,4.76,21.88,0.0,2.21,4.18,1.08,3.10
15098,2024,124,30.31,30.46,16.23,38.19,21.98,4.39,17.50,0.0,2.04,3.89,0.74,3.15
15099,2024,125,-999.00,-999.00,-999.00,-999.00,-999.00,-999.00,-999.00,-999.0,-999.00,-999.00,-999.00,-999.00

In [14]:
date_str = "2024-05-09"

In [15]:
date_obj = datetime.strptime(date_str, '%Y-%m-%d')

In [16]:
date_obj

datetime.datetime(2024, 5, 9, 0, 0)

In [17]:
year = date_obj.year

In [18]:
year

2024

In [19]:
day_of_year = date_obj.timetuple().tm_yday

In [20]:
day_of_year

130

In [26]:
def get_day_of_year(date_str):  #because in CSV, the date is not in DD-MM-YYYY format so we need to convert the input date given by user to its number of day of the year ranging from 1-365
    # Convert the date string to a datetime object
    date_obj = datetime.strptime(date_str, '%Y-%m-%d')
    # Get the year
    year = date_obj.year
    # Get the day of the year (1-based index)
    day_of_year = date_obj.timetuple().tm_yday 
    return year, day_of_year

In [40]:
inputDate = '2024-04-15'
inputyear, day_of_the_year = get_day_of_year(inputDate)
print(inputyear,day_of_the_year)

2024 106

In [41]:
type(inputyear)

int

In [73]:
districtdata = csvdata['Bathinda']

In [75]:
districtdata.shape[0]

15100

In [66]:
fetched_data = districtdata[(districtdata.YEAR==int(1984)) & (districtdata.DOY==int(day_of_year))]

In [71]:
json_str = fetched_data.to_json(orient='records')

In [72]:
json_str

'[{"YEAR":1984,"DOY":130,"T2M":36.47,"TS":38.48,"T2M_MAX":45.14,"T2M_MIN":27.33,"QV2M":5.0,"RH2M":13.88,"PRECTOTCORR":0.0,"WS2M_MIN":0.71,"WS2M_MAX":2.73,"T2M_RANGE":17.8}]'

In [55]:
import json

In [97]:
dict(fetched_data)

{'YEAR': 0    1983
 Name: YEAR, dtype: int64,
 'DOY': 0    1
 Name: DOY, dtype: int64,
 'T2M': 0    11.83
 Name: T2M, dtype: float64,
 'TS': 0    11.9
 Name: TS, dtype: float64,
 'T2M_RANGE': 0    15.03
 Name: T2M_RANGE, dtype: float64,
 'T2M_MAX': 0    20.9
 Name: T2M_MAX, dtype: float64,
 'T2M_MIN': 0    5.87
 Name: T2M_MIN, dtype: float64,
 'QV2M': 0    5.19
 Name: QV2M, dtype: float64,
 'RH2M': 0    63.44
 Name: RH2M, dtype: float64,
 'PRECTOTCORR': 0    0.0
 Name: PRECTOTCORR, dtype: float64,
 'WS2M': 0    1.64
 Name: WS2M, dtype: float64,
 'WS2M_MAX': 0    2.95
 Name: WS2M_MAX, dtype: float64,
 'WS2M_MIN': 0    0.88
 Name: WS2M_MIN, dtype: float64,
 'WS2M_RANGE': 0    2.07
 Name: WS2M_RANGE, dtype: float64}

In [ ]:
filtered_df = df[(df['A'] > 10) & (df['B'] == 'X') & (df['C'].str.contains('keyword'))]